#Hero_Section .swiper {
      margin-bottom: 1rem;
      position: relative;
    }
#Hero_Section .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
#Hero_Section .swiper-slide img {
        position: relative;
        object-fit: cover;
    }
#Hero_Section .slide-content{
        display: flex;
        position: absolute;
        width: 100%;
    }
#Hero_Section .cover-link {
    position: absolute; inset: 0;
    z-index: 1;
    }
#Hero_Section .swiper-overlay {
        position: absolute;
        width: 100%;
        inset: 0;
        background: var(--overlay-bg, #000);
        opacity: var(--overlay, .35);
    }
    .swiper-dark {
        --overlay-bg: #000;
        ---overlay: .45;
        color: #fff;
    }
    .swiper-light {
        ---overlay-bg: #fff;
        ---overlay: .25;
        color: #111;
    }

    /* HEIGHT MODIFIERS */
    .swiper-h-auto   { height: auto; }
    .swiper-h-short  { height: 30vh; }
    .swiper-h-medium { height: 50vh; }
    .swiper-h-tall   { height: 70vh; }
    .swiper-h-full   { height: 100vh; }

    @media (max-width: 640px) {
    /* Responsive tweaks */
    .swiper-h-short  { height: 40vh; }
    .swiper-h-medium { height: 60vh; }
    .swiper-h-tall   { height: 80vh; }
    }


.swiper-media, .swiper-media > video {
  width: 100%; height: 700px;
}
.swiper-video { width: 100%; height: 100%; object-fit: cover; }
